/* 
    General Styles
*/
#app {
	background-color: #1c3659;
}

.mainBackgroundColor {
	background-color: #1c3659;
}

.WQNxq {
	border-radius: 0.375rem 0.375rem 0.375rem 0.375rem !important;
}

.lVCTL {
	border-radius: 0.375rem 0.375rem 0.375rem 0.375rem !important;
}
